@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-size: 100%;
}

.topo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background: #FFFBFC;
}
.logo-header {
    height: 100px;
}
.menu-header {
    display: flex;
    gap: 32px;
}

.item-menu-header {
    font-family: 'Roboto', sans-serif;
    color: #0D0106;
    font-weight: 300;
    font-size: 20px;
    transition: 0.5s;
    padding: 10px;
}
.item-menu-header:hover {
    color: #05299E;
    font-size: 22px;
    
}

.item-menu-header:last-child {
    border: 0.3px solid;
    border-radius: 30px;
    font-size: 20px;
    color: #2555f3;
    background-color: #FFFBFC;
}
.item-menu-header:last-child:hover {
    background-color: #2555f3;
    color: #FFFBFC;
}

/*main {
    margin-bottom: 48px;
}
*/
.conteudo-principal{
    /*height: 545px;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /*padding: 175px 60px 0px 60px;*/
    padding: 80px 60px 0px 60px;
    background: linear-gradient(to bottom, #FFFBFC 45.62%, #dad8d8 95.61%)
    /*background: #FFFBFC;*/
}

.conteudo-principal-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.nome {
    font-size: 50px;
    padding: 10px 0px;
}
.subtitulo {
    margin: 5px;
    color: #5FB49C;
}

.botao-trabalhos {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
    width: 185px;
    height: 67px;
    border: 0.3px solid;
    border-radius: 30px;
    color: #FFFBFC;
    background-color: #2555f3;
    cursor: pointer;
    transition: 0.5s;
}
.botao-trabalhos:hover {
    background-color: #FFFFFF;
    color: #2555f3;
    width: 189px;
    height: 69px;
}

.image{
    height:400px
}
.image-silvaney {
    height: 400px;
}

/*Seção secundária*/

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    padding: 10%;
}
.conteudo-secundario h2 {
    font-family: 'Roboto', sans-serif;
    color: #0D0106;
    font-weight: 700;
    font-size: 25px;
}

.itens-especilista {
    display: flex;
    align-items: center;
    justify-content: center;

}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.lista-especialidade {
    width: 20%;
    height: 200px;
}

.lista-especialidade li {
    width: 100%;
    height: 100%;
    list-style-type: none;
    border: solid 1px #0D0106;
    border-radius: 10px;
    margin: 25px;
    /*padding-top: 20px;*/
    padding: 7%;
    transition: 0.7s;
}

.lista-especialidade li:hover {
    transform: translateY(-10%);
    border-color: #2555f3;
}

.icone-lista {
    margin: 20px 0 20px;
}
.fa-solid {
    font-size: 40px;
    color: #2555f3;
}

.titulo-lista {
    margin: 10px 0px 10px;
    font-family: 'Roboto', sans-serif;
    color: #0D0106;
    font-weight: 700;
    font-size: 15px;
}
.paragrafo-lista {
    font-family: 'Roboto', sans-serif;
    color: #5FB49C;
    font-weight: 300;
    font-size: 15px;
    margin-top: 15px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    padding: 5%;
    background-color: #FFFBFC;
}

footer section {
    display: flex;
}

.section-text-footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.fa-brands {
    display: flex;
    font-size: 20px;
    margin: 10px;
}