@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

.topo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background: #FFFBFC;
}
.logo-header {
    height: 100px;
}
.menu-header {
    display: flex;
    gap: 32px;
}

.item-menu-header {
    font-family: 'Roboto', sans-serif;
    color: #0D0106;
    font-weight: 300;
    font-size: 20px;
    transition: 0.5s;
    padding: 10px;
}
.item-menu-header:hover {
    color: #05299E;
    font-size: 22px;
}

.item-menu-header:last-child {
    border: 0.3px solid;
    border-radius: 30px;
    font-size: 20px;
    color: #2555f3;
    background-color: #FFFBFC;
}
.item-menu-header:last-child:hover {
    background-color: #2555f3;
    color: #FFFBFC;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.conteudo-principal{
    /*height: 545px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 24px 24px 0 24px;
    background: linear-gradient(to bottom, #FFFBFC 45.62%, #dad8d8 95.61%)
}

.conteudo-principal-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.nome {
    font-size: 50px;
    padding: 10px 0px;
}
.subtitulo {
    margin: 5px;
    color: #5FB49C;
}

.botao-trabalhos {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
    width: 185px;
    height: 67px;
    border: 0.3px solid;
    border-radius: 30px;
    color: #FFFBFC;
    background-color: #2555f3;
    cursor: pointer;
    transition: 0.5s;
}
.botao-trabalhos:hover {
    background-color: #FFFFFF;
    color: #2555f3;
    width: 189px;
    height: 69px;
}

.image{
    height:400px
}
.image-silvaney {
    height: 400px;
}

/*Seção secundária*/

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    padding: 10%;
}
.conteudo-secundario h2 {
    font-family: 'Roboto', sans-serif;
    color: #0D0106;
    font-weight: 700;
    font-size: 25px;
}

.itens-especilista {
    display: flex;
    align-items: center;
    justify-content: center;

}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.lista-especialidade {
    width: 20%;
    height: 220px;
}

.lista-especialidade li {
    width: 100%;
    height: 100%;
    list-style-type: none;
    border: solid 1px #0D0106;
    border-radius: 10px;
    margin: 25px;
    /*padding-top: 20px;*/
    padding: 7%;
    transition: 0.7s;
}

.lista-especialidade li:hover {
    transform: translateY(-10%);
    border-color: #2555f3;
}

.icone-lista {
    margin: 20px 0 20px;
}
.fa-solid {
    font-size: 40px;
    color: #2555f3;
}

.titulo-lista {
    margin: 10px 0px 10px;
    font-family: 'Roboto', sans-serif;
    color: #0D0106;
    font-weight: 700;
    font-size: 15px;
}
.paragrafo-lista {
    font-family: 'Roboto', sans-serif;
    color: #5FB49C;
    font-weight: 300;
    font-size: 15px;
    margin-top: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #FFFBFC;
    padding: 5%;
}

.curriculo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.curriculo a {
    color: #0D0106;
}
.curriculo p {
    color: #2555f3;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands {
    display: flex;
    font-size: 20px;
    margin: 10px;
}

@media screen and (max-width: 1024px) {
    .menu-header {
        gap: 22px;
    }

    .nome{
        font-size: 40px;
    }

    h1 {
        font-size: 14px;
    }

    .lista-especialidade {
        width: 25%;
        height: 220px;
    }
}

@media screen and (max-width: 768px) {
    .menu-header {
        gap: 22px;
    }

    .item-menu-header:last-child {
        font-size: 18px;
    }

    .item-menu-header {
        font-size: 18px;
    }
    .item-menu-header:hover {
        font-size: 20px;
    }
    .nome {
        font-size: 30px;
    }

    h1 {
        font-size: 12px;
    }

    .lista-especialidade {
        width: 40%;
        height: 220px;
    }
}

@media screen and (max-width: 500px) {
    .logo-header {
        height: 70px;
    }

    .menu-header {
        gap: 2px;
    }

    .item-menu-header:last-child {
        font-size: 15px;
    }

    .item-menu-header {
        font-size: 15px;
    }
    .item-menu-header:hover {
        font-size: 17px;
    }

    
    .conteudo-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .conteudo-principal-texto{
        justify-content: center;
        align-items: center;
    }
    h1 {
        text-align: center;
    }
    .nome {
        font-size: 30px;
    }

    h1 {
        font-size: 12px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .lista-especialidade {
        width: 60%;
        height: 220px;
    }
    
    footer {
        display: flex;
        flex-direction: column;
    }

    .section-text-footer {
        text-align: center;
    }
}